<!-- Hero section -->
<div class="hero row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
  <div class="col-12 col-lg-6">
    <img
      src="/img/food.png"
      class="d-block mx-lg-auto img-fluid"
      height="300"
      alt="food-image"
      loading="lazy"
    />
  </div>
  <div class="col-12 col-lg-6">
    <h1 class="display-5 fw-bold mb-3">
      Spice Up Your <br />
      Palate with
      <span
        style="
          color: var(--epic-color);
          text-shadow: 0 4px 60px var(--epic-color);
        "
      >
        Epiceats
      </span>
    </h1>
    <p class="lead">
      Welcome to EpicEats, where the art of cooking meets the joy of discovery.
      Prepare to embark on a gastronomic journey that will tantalize your taste
    </p>
    <div class="d-grid gap-2 d-md-flex mt-3">
      <a href="/explore-latest" class="btn btn-primary btn-lg px-4 me-md-2">
        Explore latest
        <img class="ms-2" src="/img/Arrow.svg" alt="" />
      </a>
      <a href="/submit-recipe" class="smb-btn btn btn-lg py-10">
        <u>Submit recipe</u>
      </a>
    </div>
  </div>
</div>

<!-- Categories -->
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">
  <% if(categories !='' ) { %> <% categories.forEach((category,index)=>{ %>

  <a
    href="/categories/<%- category.name %>"
    class="col text-center category_link"
  >
    <div class="category_img shadow">
      <img
        src="/img/<%- category.image %>"
        loading="lazy"
        alt="<%- category.name %>"
      />
    </div>
    <div class="pt-1"><%- category.name %></div>
  </a>

  <%})%> <% } %>

  <a href="/categories" class="col text-center category_link">
    <div class="category_img shadow">
      <img src="/img/more.png" loading="lazy" alt="iew all" />
    </div>
    <div class="pt-1">view all</div>
  </a>
</div>

<!-- Latest recipes -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Latest Recipes</h2>
    <a href="/explore-latest" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(food.latestRecipes != ''){ %> <%
    food.latestRecipes.forEach((recipe,index) => {%> <%-
    include('./components/recipeListingComponent.ejs',{recipe})%> <%}) %> <% }
    %>
  </div>
</section>

<!-- indian recipes -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Indian Recipes</h2>
    <a href="/categories/Indian" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(food.indianRecipes !== 'undefined' || food.indianRecipes.length >0){
    %> <% food.indianRecipes.forEach((recipe,index) => {%> <%-
    include('./components/recipeListingComponent.ejs',{recipe})%> <%}) %> <% }
    else { %>
    <p>no items found</p>
    <% }%>
  </div>
</section>

<!-- american recipes -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>American Recipes</h2>
    <a href="/categories/American" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(food.americanRecipes !== 'undefined' || food.americanRecipes.length
    >0){ %> <% food.americanRecipes.forEach((recipe,index) => {%> <%-
    include('./components/recipeListingComponent.ejs',{recipe})%> <%}) %> <% }
    else { %>
    <p>no items found</p>
    <% }%>
  </div>
</section>

<!-- thai recipes -->
<section class="pb-4 pt-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Thai Recipes</h2>
    <a href="/categories/Thai" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <% if(food.thaiRecipes !== 'undefined' || food.thaiRecipes.length >0){ %> <%
    food.thaiRecipes.forEach((recipe,index) => {%> <%-
    include('./components/recipeListingComponent.ejs',{recipe})%> <%}) %> <% }
    else { %>
    <p>no items found</p>
    <% }%>
  </div>
</section>

<!-- Submit  -->
<section class="px-4 py-5 my-5 text-center">
  <img
    src="/img/foot.png"
    class="foot-img d-blockmx-lg-auto mb-4 img-fluid"
    loading="lazy"
    alt="submit recipe"
  />
  <h1 class="display-5 fw-bold">Publish your recipes for free on EpicEats!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      From Your Kitchen to the World - Publish FREE on EpicEats!
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg"
        >Submit Recipe
        <img
          class="ms-2"
          src="/img/Arrow.svg"
          alt=""
          style="transform: rotate(270deg)"
        />
      </a>
    </div>
  </div>
</section>
